body {
	margin: 0;
	padding: 0;
	z-index: 1;
}

header {
	width: 100%;
	height: 60px;
	background-color: #d8d2d1;
	border-radius: 5px;
	font-size: 21px;
	line-height: 50px;
	padding-left: 30px;
	color: #aba2a0;
}
.type {
	width: 200px;
	background-color: #e6e6e6;
	padding: 5px;
	position: absolute;
	top: 60px;
	bottom: 0;
	overflow: hidden;
}
.classify {
	padding: 3px 10px; 
}
.main-classify {
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}

.main-classify img {
	width: 30px;
	height: 30px;
}
.sub-class {
	display: none;
	margin: 5px;
	padding-left: 20px;
	cursor: pointer;
}
.sub-class li {
	height: 35px;
	list-style-type: none;
}
.sub-class img {
	width: 25px;
	height: 25px;
}
.main-classify:hover,
.sub-class li:hover {
	background-color: #abafa3;
}
#add-task {
	position: absolute;
	bottom: 5px;
	left: 20px;
	font-size: 17px;
	cursor: pointer;
}
#add-task img{
	width: 15px;
	height: 15px;
} 
#add-class {
	position: absolute;
	bottom: 5px;
	left: 20px;
	font-size: 17px;
	cursor: pointer;
}
#add-class img{
	width: 15px;
	height: 15px;
} 
.task {
	width:230px;
	border: 1px solid #bdb7b6;
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 210px;
	overflow: hidden;
}

.mid-title {
	height: 30px;
	background-color: #ccc;
	padding: 5px 5px;
}

.mid-title span {
	font-size: 14px;
	line-height: 30px;
	margin:0 10px;
	padding: 2px 4px;
	height: 30px;
	cursor: pointer;
}

.task-by-date {
	padding-left: 0;
}

.task-date {
	background-color: #e0dec0;
	margin-bottom: 5px;
	padding-left: 20px;
}

.task-by-date li {
	list-style-type: none;
	height: 30px;
	line-height: 25px;
	cursor: pointer;
}
.detail {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 442px;
	right:0;
	overflow: hidden;
	display: none;
}
.task-nav {
	height: 50px;
	background-color: #c2c2be;
}
.edit-icon {
	float: right;
}
.edit-icon img {
	width: 24px;
	height: 24px;
	margin: 10px;
	cursor: pointer;
}
.edit-name {
	font-size: 16px;
	line-height: 50px;
	padding-left: 20px;
	font-weight: bold;
}
.edit-date {
	background-color: #e0dec0;
	height: 50px;
	font-size: 14px;
	line-height: 50px;
	margin: 0;
	padding-left: 20px;
}
.edit-content {
	margin: 0;
	padding: 10px;
	font-size: 14px;
}

.editor {
	width: 80%;
	height: 200px;
}

#confirm-div {
	width: 300px;
	height: 150px;
	padding: 20px;
	border-radius: 5px;
	background-color: #e6e6e6;
	position: relative;
	top: 100px;
	left:100px;
	display: none;
}

#confirm-div input {
	width: 80px;
	height: 40px;
	margin-left: 30px;
	border-radius: 10px;
	background-color: #03a9f4;
	position: relative;
	top: 50px;
	left: 70px;
	cursor: pointer;
}

.finished-task {
	color: green;
	font-weight: bold;
}

#class-div {
	width: 300px;
	height: 200px;
	border-radius: 5px;
	outline: none;
	background-color: #e6e6e6;
	position: relative;
	top: 100px;
	margin: 0 auto;
	display: none;
	z-index: 10;
	text-align: center;
}

#class-div div {
	border-radius: 5px;
	height: 30px;
	background-color: #c2e879;
	text-align: center;
	line-height: 30px;
}
#class-div input,
#class-div select {
	width: 60%;
	height: 25px;
	padding: 0;
}
#class-div button {
	width: 60px;
	height: 25px;
	margin-left: 15px;
	border-radius: 5px;
	background-color: #03a9f4;
	position: relative;
	top: 35px;
	left: 60px;
	cursor: pointer;
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #000;
	opacity: 0.7;
	display: none;
}

#date-input {
	margin-left:20px;
	height:25px;
	width:60%;
	border: 1px solid #e6e6e6;
	display: inline-block;
}

#task-div {
	width: 600px;
	height: 500px;
	position: absolute;
	top: 100px;
	left: 460px;
	display: none;
	z-index: 100;
}

.task-text {
	box-sizing: border-box;
	width: 400px;
	height: 50px;
	padding: 5px;
/*	padding-left: 100px;*/
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	margin: 10px 100px 10px 20px;
}

#task-div textarea {
	width: 500px;
	height: 200px;
	padding: 10px;
	margin: 10px auto;
}