.container {
    max-width: 1000px;
    margin: 0 auto;    /*text-align: center;*/
}
/**
 * 界面拖拽交互
 */
.drag-block{
    position:relative;
}
.block{
    width: 200px;
    height: 479px;
    border:1px solid #333;
    float: left;
    /* position: relative; */
}
.move{
    width: 200px;
    height: 59px;
    background-color: #929BDD;
    border-bottom:1px solid #333;
    position: absolute;
    text-align: center;
    color: #fff;
    line-height: 59px;
    font-size: 18px;
    font-weight: bold;
    cursor: move;
}
.right-block{
    margin-left: 300px;
}
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}